#preloader {
  position: fixed;
  /* background: #262627; */
  background: #0e0e0e;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: all 1s ease;
}
#preloader img {
  width: 50px;
}
.preloader_hidden {
  opacity: 0!important;
  visibility: hidden!important;
}
header, section, footer {
  transition: all 1s ease;
  transform: scale(.98);
}
.full_size {
  transform: scale(1)!important;
}